* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

.container {
    display: flex;
    
    flex-direction: row;
}

.box {
    background: lightcoral;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;

    height: 100px;
flex: 1;    
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

    